@import "styles/responsive"

.grid
  display: grid

  @include screen(ml, other)
    grid-template-columns: 1fr 1fr
    gap: d(29)

  @include screen(mp)
    gap: mp(24)

.contact
  color: #4D4A49

  @include screen(ml, other)
    background: white
    padding: d(20)
    border-radius: d(40) 0 d(40) 0
    white-space: pre-wrap

.title
  font-weight: 500
  margin-bottom: d(20)

  @include screen(mp)
    margin-bottom: mp(4)
