@import "styles/responsive"

.container
  display: flex
  flex-direction: column
  --animation-gap: .1s

  img
    pointer-events: none

@keyframes border-color
  0%
    border-color: transparent
  100%
    border-color: rgba(255,255,255, .3)

@keyframes horizontal
  0%
    opacity: 0
    transform: scaleX(0)
  100%
    opacity: 1
    transform: scaleX(1)

@keyframes vertical
  0%
    opacity: 0
    transform: scaleY(0)
  100%
    opacity: 1
    transform: scaleY(1)

.layout
  flex-grow: 1
  margin-top: d(30)
  width: 100%
  overflow: visible
  animation: border-color .5s linear var(--animation-duration) backwards

  &:before
    content: ''
    display: block
    height: 1px
    background: rgba(255,255,255, .3)
    animation: horizontal 1s .5s ease-in-out backwards

  @include screen(mp)
    display: block

.block
  width: 100%
  padding-top: d(21)
  animation: border-color .5s linear var(--animation-duration) backwards

  @include screen(ml, other)
    &:nth-child(1)
      padding-right: d(40)

      &:after
        content: ''
        position: absolute
        top: 0
        right: 0
        bottom: 0
        width: 1px
        background: rgba(255,255,255, .3)
        transform-origin: top center
        animation: vertical 1s .5s ease-in-out backwards

    &:nth-child(2)
      padding-left: d(40)

  @include screen(mp)
    &:first-child
      //border-bottom: 1px solid rgba(255,255,255, .3)
      padding-bottom: mp(16)
      padding-right: mp(24)
      animation-delay: 1s

    &:last-child
      padding-left: mp(24)

.title
  white-space: pre-wrap
  font-size: d(45)
  font-weight: 500
  line-height: 1

  @include screen(mp)
    font-size: mp(25)

.subtitle
  margin-top: d(8)
  font-weight: 500

  @include screen(mp)
    margin-top: mp(8)

.list
  margin-top: d(16)
  display: grid
  gap: d(8)

  .h2
    font-size: d(30)
    font-weight: 500

  .image
    width: d(90)
    margin-right: d(26)

.item
  display: flex
  align-items: center
  white-space: pre-wrap

.grid
  margin-top: d(20)
  display: grid
  grid-template-columns: 1fr 1fr 1fr 1fr
  gap: d(10) d(2)
  font-size: d(10)

  @include screen(mp)
    justify-content: space-between
    gap: mp(8) 0
    font-size: mp(9)
    margin: mp(8) mp(-12) 0

  .item
    flex-direction: column
    text-align: center

  .image
    width: 100%

.products
  margin-top: d(24)
  display: flex
  align-items: center

  .img
    flex-shrink: 0
    width: d(110)
    margin-right: d(37)

.ul
  display: grid
  gap: d(5)

.li
  display: flex

  &:before
    content: '●'
    margin-right: d(11)

.bags
  margin-top: d(24)
  align-self: center
  width: d(253)

  @include screen(mp)
    display: none
