@import "styles/responsive"
@import "styles/animation"

@keyframes border
  0%
    transform: scaleY(0)
    opacity: 0
  100%
    transform: scaleY(1)
    opacity: 1

.container
  user-select: none
  position: fixed
  top: 0
  left: 0
  bottom: 0
  width: var(--sidebar-width)
  display: flex
  flex-direction: column
  padding-left: d(80)
  transition: border var(--animation-duration)

  @include screen(mp)
    display: none

  &:after
    content: ''
    display: block
    position: absolute
    top: 0
    left: 100%
    bottom: 0
    width: 1px
    background: var(--border-color)
    //transform-origin: top center
    animation: border 1s ease-in-out .5s backwards

.logo
  cursor: pointer
  width: d(100)
  display: flex
  flex-direction: column
  --animation-duration: .5s

.menu
  margin-top: d(-13)
  flex-grow: 1
  display: flex
  flex-direction: column
  align-items: flex-start
  font-weight: 500
  color: var(--sidebar-color)

.link
  cursor: pointer
  line-height: .75
  padding-top: d(13)
  padding-bottom: d(13)
  position: relative
  --animation-duration: .25s

  @for $i from 1 through 10
    &:nth-child(#{$i})
      animation-delay: #{$i * .1s + .5s}

  :global(.App)[data-loading="false"] &
    transition: color var(--animation-duration)

  &:before
    content: ''
    display: block
    width: d(25)
    height: 1px
    background: var(--sidebar-color)
    position: absolute
    right: 100%
    top: 50%
    margin-right: d(24)
    transform-origin: right

    :global(.App)[data-loading="false"] &
      transition: transform ease-in-out, background-color
      transition-duration: var(--transition-duration)

  @include screen(tp, other)
    &:hover
      color: var(--sidebar-active-color)

      &:before
        background: var(--sidebar-active-color)

  &[disabled]
    cursor: default
    color: var(--sidebar-active-color)

    &:before
      transform: scaleX(2.3)
      background: var(--sidebar-active-color)

.footer
  padding-bottom: var(--footer-padding-bottom)
  font-size: d(10)
  color: var(--footer-color)
  --animation-duration: .5s
